*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 10px;
}

body{
    background-color: #fff;
    padding: 10px;
}




.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 10px;
}

.front{
    padding:10px;
    border: 10px 15px 10px 15px;
    border:1px solid black
    

}

.front>div{
    align-items: center;
    justify-content: centre;
}

/* .front>div>img{
    width: 300px;
    text-align: right;
    height: auto;
} */

/* .front>img{
    width: 300px;
    text-align: right;
    height: auto;
} */

.back{
    
    border: 10px 15px 10px 15px;
    border:1px solid black
    
}

.back>img{
     padding: 10px;
    width:100px;
    top: 30px;
    bottom: 10px;
     height: 80px 

}

.one{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1px;

}
.one>img{
    width: 80px;
    margin-top: 5px;
    border-left: 5px;
    text-align:right ;
}

.one>img>h2{
    text-align:right ;

}

#first{
    width: 120px;
    height: 60px;
}

#sec{
    width: 200px;
    height: 100%; 
    margin-top: 100px;
}

.open{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#start{
    width: 450px;
    margin-top: 50%;
    border-left: 5px;
    justify-content:center;
    height: 150px;
    margin-bottom: 50%;
}

.up{
    display: flex;
}

.up>img{
    width: 200px;
}

.lower{
    display: flex;
    flex-direction: column;
}
.down{
    display: flex;
    flex-direction: column;
}